* {
    box-sizing: border-box;
}

body {
font-family: "Dosis", sans-serif;
background-color: white;
}

body.dark {
    background-color: black;
}

.dark-mode {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	margin: 0;
	transition: background 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
	background-color: black;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.container {
    width: 100%;
    height: 100vh;
    background-size: cover; 
}

h1 {
    color: black;
    font-size: 5em;
    font-weight: bolder;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: black;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding-right: 200px;
    padding-left: 50px;
    padding-top: 20px;
    
}

.header {
    padding-bottom: 30px;
    padding-top: 100px;
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: rgb(51, 50, 54);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30% 0 0 70%;
    transition: right 0.8s cubic-bezier(1. 0. 0. 1);
}

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: rgb(214, 201, 15);
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 { 
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg)translate(-8px, -6px);
}

.nav-list {
    text-align: right;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: rgb(214, 201, 15);
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(214, 201, 15);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}